<a href="/logout">Log out</a>
<div class="container">
<p>Selected Packages:</p>
<% @packages.each do |package| %>
  <% requests = package.requests %>
  <%= package.api %>
  <p>Available requests:</p>
  <% requests.each do |request| %>
    <%= request.name %>
  <% end %>
<% end %>

<h2>You code snippet:</h2>
<div class="snippet">
  <%= @user.code_snippet %>
</div>

<p>Add New Packages</p>
<% @available_packages.each do |package| %>
  <%= package %> <a href="/users/<%=@user.id%>/new_<%=package.downcase%>">add</a>
<% end %>
</div>
